.dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-dialog);
}

.dialog-overlay .dialog {
  min-width: 100px;
  background-color: var(--color-surface);
  border-radius: 16px;
  border: 1px solid var(--color-border);
}

.dialog-overlay .dialog .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  border-bottom: 1px solid var(--color-border);
  user-select: none;
}

.dialog-overlay .dialog .header h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text);
}

.dialog-overlay .dialog .header button {
  background-color: var(--color-surface-dark);
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border);
}

.dialog-overlay .dialog .header button:hover {
  background-color: var(--color-surface);
}

.dialog-overlay .dialog .header button svg {
  width: 16px;
  height: 16px;
  color: var(--color-text-light);
}
