.add-shortcut-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 32px;
}

.add-shortcut-dialog form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-shortcut-dialog .field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.add-shortcut-dialog .field label {
  margin-right: 15px;
}

.add-shortcut-dialog .field input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 0 12px;
  margin-bottom: 16px;
}

.add-shortcut-dialog .icon-field {
  width: 96px;
  height: 96px;
  background-color: var(--color-background);
  border-radius: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
